@media print {
  * {
    overflow: visible;
  }
  .mdc-grid>.mdc-cell--12-col:not(.roster):not(.header),
  .mdc-layout__header,
  .mdc-layout__header-button,
  .mdc-snackbar {
    display: none;
  }
  .mdc-layout--fixed-header>.mdc-layout__content,
  .mdc-layout__content>section {
    margin: 0;
    padding: 0;
    size: A4;
  }
  .ready-time:after {
    color: rgba(0, 0, 0, .06) !important;
  }
  #Roster .header {
    max-height: 15vh;
  }
  #Roster .header * {
    margin: 0;
  }
  #Roster .roster {
    max-height: 85vh;
  }
}