:root {
  --mdc-theme-primary: #304ffe;
  --mdc-theme-secondary: #304ffe;
  --mdc-theme-background: rgba(0, 0, 0, .9);
  --mdc-theme-surface: rgba(255, 255, 255, .9);
}

body {
  margin: 0;
  display: inline-block;
  min-height: 100vh;
  width: 100%;
}

.mdc-theme--dark,
.mdc-theme--dark .mdc-button,
.mdc-theme--dark .mdc-tab {
  color: var(--mdc-theme-surface);
}

.mdc-button--raised:not(:disabled),
.mdc-button--unelevated:not(:disabled),
.mdc-theme--dark .mdc-tab.mdc-tab--active,
.mdc-theme--dark .mdc-tab:after,
.mdc-theme--dark .mdc-tab:before,
.mdc-theme--dark .mdc-button:after,
.mdc-theme--dark .mdc-button:before {
  background-color: var(--mdc-theme-primary);
}

.mdc-theme--dark .mdc-tab-bar__indicator {
  background-color: var(--mdc-theme-surface);
  z-index: 1;
}

.mdc-text-field--focused .mdc-floating-label {
  color: var(--mdc-theme-primary) !important;
}

.mdc-text-field__input {
  width: 100%;
}

.panel section>*:not(.mdc-layout-grid):not(.mdc-card) .mdc-text-field__input {
  min-width: 20vw;
}

.mdc-text-field .mdc-floating-label {
  pointer-events: none;
}

.mdc-tab-bar {
  padding: 0;
  height: 100%;
}

.mdc-tab-bar .mdc-tab {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-button:after,
.mdc-button:before {
  background-color: var(--mdc-theme-primary);
}

main {
  padding-top: 64px;
  box-sizing: border-box;
}

main .panel {
  margin: 48px;
}

.page-content>section {
  width: 100%;
  display: block;
  clear: both;
}

.page-content>[id$=-cards] {
  display: inline-flex;
  flex-flow: wrap;
  align-items: flex-start;
  margin-bottom: -20px;
}

.mdc-card {
  width: fit-content;
  margin-right: 20px;
  margin-bottom: 20px;
}

.page-content>[id$=-cards] .mdc-card {
  float: none;
}

.mdc-card .mdc-card__actions.details .card-name,
.mdc-card .mdc-card__actions.details .card-title,
.mdc-card section {
  text-overflow: ellipsis;
  overflow: hidden;
}

.mdc-card.editing {
  margin-right: -200px;
}

.mdc-card.page-buttons {
  float: left;
}

.mdc-card.header {
  float: right;
  margin-right: 0;
}

.mdc-card.header .mdc-card__actions {
  align-items: flex-start;
}

.mdc-card.header .mdc-card__actions .company {
  flex-direction: column;
  align-items: flex-start;
}

.mdc-card.header .mdc-card__actions .company * {
  margin: 0;
}

.team-member.mdc-card {
  width: 200px;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.team-member.mdc-card .mdc-dialog {
  position: absolute;
  bottom: 0;
  right: 0;
}

.team-member.mdc-card .mdc-dialog .mdc-dialog__surface {
  min-width: auto;
  max-width: none;
  justify-content: space-between;
}

.team-member.mdc-card .mdc-dialog:not(.mdc-dialog--open) .mdc-dialog__surface {
  transform: translate(-20px, -74px) scale(0.28);
  border-radius: 50%;
  height: calc(100% - 30px);
}

.mdc-card .details {
  padding: 0;
}

.mdc-card .details>* {
  margin: 1rem;
}

.team-member.mdc-card .mdc-card__media .mdc-card__media-content {
  top: auto;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 50%);
}

.team-member.mdc-card .mdc-card__media .mdc-card__media-content .mdc-card__actions * {
  line-height: 1.5rem;
}

.team-member.mdc-card>.mdc-card__actions {
  margin-bottom: -52px;
  z-index: 1;
  transition: opacity .2s;
  background: var(--mdc-theme-surface);
  opacity: 0;
}

.team-member.mdc-card:hover>.mdc-card__actions {
  opacity: 1;
}

.mdc-card.template,
.mdc-card.template .mdc-card__actions.details {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.mdc-card__media.details>span {
  width: 100%;
  display: inline-block;
  font-size: 14px;
}

.mdc-card__media.details>span:first-of-type {
  font-weight: bold;
  font-size: inherit;
}

.mdc-card.adding {
  background: #fff;
  z-index: 3;
  transition: all .3s;
  opacity: 1;
  max-height: 250px;
}

.mdc-card.adding:not(.open) {
  transform: translate(-68px, -74px) scale(0.24);
  border-radius: 50%;
  max-height: 200px;
  opacity: 0;
  overflow: hidden;
}

.mdc-card.adding .mdc-card__media.details {
  background: #fff;
}

.mdc-card.adding .mdc-text-field {
  margin-top: 0;
}

.mdc-card.adding .upload[style*='background-image: url("data:image/png'] {
  background-size: cover;
  background-color: rgba(158, 158, 158, .2);
  background-position: center center;
}

#Company_Logo {
  max-width: 200px;
}

.roster .mdc-layout-grid__inner {
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-gap: 0;
}

.roster.ready .mdc-layout-grid__inner {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 0;
}

.roster .roster-header .mdc-layout-grid__cell {
  text-align: center;
  padding: 10px;
}

.roster .team-member,
.roster .roster-header .mdc-layout-grid__cell:first-of-type {
  -webkit-box-flex: 1.75;
  -ms-flex: 1.75;
  flex: 1.75;
  padding: 10px 0;
}

.roster .team-member {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  border: 0;
}

.roster .roster-header,
.roster .roster-body {
  height: auto;
  display: grid;
}

.roster .mdc-text-field:focus-within,
.roster .roster-body:focus-within {
  z-index: 2;
}

.roster.scrolling {
  /* line-height + header padding top & bottom + roster padding top */
  padding-top: calc(1.5rem + (10px*2) + 8px);
}

.roster.scrolling .roster-header {
  background: #fff;
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  top: 64px;
  padding: 0 64px;
}

.roster:not(.ready) .roster-body {
  overflow: visible;
}

.roster .roster-body:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
  z-index: -1;
}

.roster .roster-body:after {
  content: none;
}

.roster .team-member>.mdc-list-item {
  padding: 4px 8px;
  height: auto;
}

.team-member.mdc-card .details>* {
  margin: 0;
}

.team-member.mdc-card .details {
  margin: .5rem 1rem;
}

.team-member.mdc-card .mdc-card__media-content .mdc-card__actions {
  display: block;
}

/* Fix for firefox outline "bug" when timepicker is open */

.roster:not(.ready) .roster-body .mdc-layout-grid__cell {
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, .1); */
}

/* still need the outline for print visibility, and it should perform better */

.roster.ready .roster-body .mdc-layout-grid__cell {
  /* outline: 1px solid rgba(0, 0, 0, .1); */
}

.roster:not(.ready) .roster-body .mdc-layout-grid__cell:not(.team-member) {
  display: grid;
  grid-template: 'start finish' 'buttons buttons' / 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.roster:not(.ready) .roster-body .mdc-layout-grid__cell:not(.team-member) .mdc-text-field:first-of-type {
  grid-area: start;
}

.roster:not(.ready) .roster-body .mdc-layout-grid__cell:not(.team-member) .mdc-text-field:last-of-type {
  grid-area: finish;
}

.roster-body .mdc-layout-grid__cell.master-copy-time {
  background: rgba(160, 195, 255, .25);
  outline: 2px dashed #4285f4;
  z-index: 2;
}

.roster-body .mdc-layout-grid__cell .done-time {
  display: none;
}

.roster-body .mdc-layout-grid__cell.master-copy-time .done-time {
  display: block;
}

.roster:not(.ready) .roster-body .mdc-layout-grid__cell:not(.team-member) .buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.roster-body .mdc-button {
  padding: 0 5px;
  min-width: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  font-size: 13px;
  opacity: .3;
}

.roster-body .mdc-layout-grid__cell:hover .mdc-button {
  opacity: 1;
}

.roster-body .team-member .mdc-list-item__graphic {
  overflow: hidden;
  border-radius: 100%;
}

.roster-body .team-member .mdc-list-item__graphic img {
  width: 100%;
  height: 100%;
}

.roster-body .team-member .mdc-card__media.details {
  color: #000;
  background: none;
  flex: 10 1;
}

.roster-body .team-member .mdc-card__media.details .hours {
  font-style: italic;
}

.roster.ready .roster-body .mdc-layout-grid__cell:not(.team-member) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.roster.ready .ready-time {
  font-size: 1.5em;
  font-weight: bold;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.roster.ready .mdc-layout-grid__cell:not(.team-member)> :not(.ready-time),
.roster.ready:not(.weekends) .mdc-layout-grid__cell.weekend,
.roster:not(.ready) .ready-time {
  display: none;
}

.roster.ready .ready-time.rdo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: 'RDO';
  font-size: 2em;
  color: rgba(0, 0, 0, 0.06);
}

.team-member .handle {
  cursor: -webkit-grab;
}

.team-member .handle.sortable-chosen {
  cursor: -webkit-grabbing;
}

.team-member.sortable-ghost {
  opacity: .2;
}

.ui-timepicker-wrapper {
  max-height: 15em;
  width: 100%;
  text-align: left;
  z-index: 2;
}

section.panel {
  display: none;
}

section.panel.active {
  display: block;
}

.mdc-icon-button {
  overflow: hidden;
  border-radius: 50%;
}

.mdc-switch--label {
  margin-left: 1rem;
  cursor: pointer;
}

.mdc-slider {
  height: 28px;
}

.mdc-slider__thumb-container {
  top: 4px;
}

.mdc-button.mdc-button--outlined {
  border-color: inherit !important;
}

*[hidden] {
  display: none;
}

.mdc-card__action-buttons[hidden]+.mdc-card__action-icons,
.mdc-card__action-icons[hidden]+.mdc-card__action-buttons {
  margin: 0
}

.mdc-chip {
  height: 2rem;
  padding: 0.7rem;
}

.ready-time .mdc-chip {
  background: var(--mdc-theme-surface);
  cursor: default;
}

.ready-time .mdc-chip:before,
.ready-time .mdc-chip:after {
  content: none;
}

.ready-time .mdc-chip.break .mdc-chip__icon {
  margin: -4px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    max-height: 200px;
    overflow: hidden;
  }
  30% {
    opacity: 1;
    max-height: 200px;
    overflow: hidden;
  }
  99% {
    opacity: 1;
    max-height: 250px;
    overflow: hidden;
  }
  100% {
    opacity: 1;
    max-height: none;
    overflow: unset;
  }
}

@keyframes slideOut {
  100% {
    opacity: 0;
    max-height: 200px;
    overflow: hidden;
  }
  70% {
    opacity: 1;
    max-height: 200px;
    overflow: hidden;
  }
  1% {
    opacity: 1;
    max-height: 250px;
    overflow: hidden;
  }
  0% {
    opacity: 1;
    max-height: none;
    overflow: unset;
  }
}