body {
  margin: 0;
}

:root {
  --mdc-theme-primary: #304ffe;
  --mdc-theme-secondary: #304ffe;
  --mdc-theme-background: rgba(0, 0, 0, .9);
  --mdc-theme-surface: rgba(255, 255, 255, .9);
}

.mdc-theme--dark,
.mdc-theme--dark .mdc-button,
.mdc-theme--dark .mdc-tab {
  color: var(--mdc-theme-surface);
}

.mdc-button--raised:not(:disabled),
.mdc-button--unelevated:not(:disabled),
.mdc-theme--dark .mdc-tab.mdc-tab--active,
.mdc-theme--dark .mdc-tab:after,
.mdc-theme--dark .mdc-tab:before,
.mdc-theme--dark .mdc-button:after,
.mdc-theme--dark .mdc-button:before {
  background-color: var(--mdc-theme-primary);
}

.mdc-theme--dark .mdc-tab-bar__indicator {
  background-color: var(--mdc-theme-surface);
  z-index: 1;
}

.mdc-text-field--focused .mdc-floating-label {
  color: var(--mdc-theme-primary) !important;
}

.mdc-tab-bar {
  padding: 0;
  height: 100%;
}

.mdc-tab-bar .mdc-tab {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-button:after,
.mdc-button:before {
  background-color: var(--mdc-theme-primary);
}

main {
  padding-top: 64px;
}

main .panel {
  margin: 48px;
}

.page-content>section {
  width: 100%;
  display: inline-block;
}

.mdc-card {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.team-member.mdc-card {
  width: 200px;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.team-member.mdc-card .mdc-dialog {
  position: absolute;
  bottom: 0;
  right: 0;
}

.team-member.mdc-card .mdc-dialog .mdc-dialog__surface {
  min-width: auto;
  max-width: none;
  justify-content: space-between;
}

.mdc-card .details {
  padding: 0;
}

.mdc-card .details>* {
  margin: 1rem;
}

.team-member.mdc-card .mdc-card__media .mdc-card__media-content {
  top: auto;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 50%);
}

.team-member.mdc-card .mdc-card__media .mdc-card__media-content .mdc-card__actions * {
  line-height: 1.5rem;
}

.team-member.mdc-card>.mdc-card__actions {
  margin-bottom: -52px;
  z-index: 1;
  transition: opacity .2s;
  background: var(--mdc-theme-surface);
  opacity: 0;
}

.team-member.mdc-card:hover>.mdc-card__actions {
  opacity: 1;
}

.mdc-card.template,
.mdc-card.template .mdc-card__actions.details {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.mdc-card__media.details>span {
  width: 100%;
  display: inline-block;
  font-size: 14px;
}

.mdc-card__media.details>span:first-of-type {
  font-weight: bold;
  font-size: inherit;
}

.mdc-card.adding {
  margin-bottom: 11px;
}

.mdc-card.adding .mdc-card__media.details {
  background: #fff;
}

.mdc-card.adding .mdc-text-field {
  margin-top: 0;
}

.mdc-card.adding .upload[style*='background-image: url("data:image/png'] {
  background-size: cover;
  background-color: rgba(158, 158, 158, .2);
  background-position: center center;
}

#Company_Logo {
  max-width: 200px;
}

.roster .mdc-cell {
  width: calc(100% / 6);
  padding: 10px;
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.roster.weekends .mdc-cell {
  width: calc(100% / 8);
}

.roster .roster-header .mdc-cell {
  text-align: center;
}

.roster .team-member,
.roster .roster-header .mdc-cell:first-of-type {
  -webkit-box-flex: 1.75;
  -ms-flex: 1.75;
  flex: 1.75;
  padding: 10px 0;
}

.roster .team-member {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  border: 0;
}

.team-member.mdc-card .details>* {
  margin: 0;
}

.team-member.mdc-card .details {
  margin: .5rem 1rem;
}

.team-member.mdc-card .mdc-card__media-content .mdc-card__actions {
  display: block;
}

/* Fix for firefox outline "bug" when timepicker is open */

.roster:not(.ready) .roster-body .mdc-cell {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}

/* still need the outline for print visibility, and it should perform better */

.roster.ready .roster-body .mdc-cell {
  outline: 1px solid rgba(0, 0, 0, .1);
}

.roster:not(.ready) .roster-body .mdc-textfield,
.roster.ready .roster-body .mdc-textfield.is-dirty {
  margin: -10px 0;
  width: 100%;
}

.roster:not(.ready) .roster-body .mdc-cell:not(.team-member) {
  display: grid;
  grid-template: 'start buttons' 'finish buttons' / 1fr 1fr;
}

.roster:not(.ready) .roster-body .mdc-cell:not(.team-member) .mdc-textfield:first-of-type {
  grid-area: start;
}

.roster:not(.ready) .roster-body .mdc-cell:not(.team-member) .mdc-textfield:last-of-type {
  grid-area: finish;
}

.roster:not(.ready) .roster-body .mdc-cell:not(.team-member) .buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.roster-body .mdc-button {
  padding: 0 5px;
  min-width: 0;
  opacity: .15;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  font-size: 13px;
}

.roster-body .team-member .avatar {
  position: relative;
  overflow: hidden;
  margin: 1em 0 1em 1em;
  border-radius: 100%;
  flex: 1 1 1em;
}

.roster-body .team-member img {
  width: 100%;
  height: 100%;
}

.roster-body .team-member .mdc-card__media.details {
  color: #000;
  background: none;
  flex: 10 1;
}

.roster-body .team-member .mdc-card__media.details .hours {
  font-style: italic;
}

.roster-body .mdc-cell:hover .mdc-button {
  opacity: 1;
}

.roster-body .mdc-cell.master-copy-time {
  background: rgba(160, 195, 255, .25);
  outline: 2px dashed #4285f4;
  z-index: 2;
}

.roster-body .mdc-cell.master-copy-time .mdc-button,
.roster-body .mdc-cell .mdc-button.done-time {
  display: none;
}

.roster-body .mdc-cell.master-copy-time .mdc-button.done-time {
  display: inline-block;
}

.roster.ready .roster-body .mdc-cell:not(.team-member) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.roster.ready .roster-body .copy-time,
.roster.ready .roster-body .paste-time,
.roster.ready .roster-body .done-time,
.roster.ready .roster-body .mdc-textfield--floating-label,
.roster.ready .roster-body .mdc-textfield--floating-label input,
.roster.ready .roster-body .mdc-textfield--floating-label label,
.roster.ready:not(.weekends) .mdc-cell.weekend,
.roster.ready .mdc-textfield--floating-label:not(.is-dirty) {
  display: none;
}

.roster:not(.ready) .mdc-cell .paste-time,
.roster:not(.ready) .mdc-cell .copy-time {
  display: none;
}

.roster:not(.ready) .mdc-cell .mdc-textfield.is-dirty~.buttons .paste-time,
.roster:not(.ready) .mdc-cell .mdc-textfield.is-dirty~.buttons .copy-time {
  display: initial;
}

.roster.ready .ready-time {
  font-size: 1.5em;
  font-weight: bold;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.roster:not(.ready) .ready-time {
  display: none;
}

.roster.ready .ready-time:empty:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: 'RDO';
  font-size: 2em;
  color: rgba(0, 0, 0, 0.06);
}

.team-member .handle {
  cursor: -webkit-grab;
}

.team-member .handle.sortable-chosen {
  cursor: -webkit-grabbing;
}

.team-member.sortable-ghost {
  opacity: .2;
}

.ui-timepicker-wrapper {
  max-height: 15em;
  width: 100%;
  text-align: left;
}

section.panel {
  display: none;
}

section.panel.active {
  display: block;
}

.mdc-icon-button {
  overflow: hidden;
  border-radius: 50%;
}

.mdc-switch--label {
  margin-left: 1rem;
  cursor: pointer;
}

.mdc-slider {
  height: 28px;
}

.mdc-slider__thumb-container {
  top: 4px;
}

.mdc-button.mdc-button--outlined {
  border-color: inherit !important;
}

*[hidden] {
  display: none;
}

.mdc-card__action-buttons[hidden]+.mdc-card__action-icons,
.mdc-card__action-icons[hidden]+.mdc-card__action-buttons {
  margin: 0
}