body {
  background: #fafafa;
}

.mdl-layout__content {
  padding: 40px;
}

.mdl-layout__drawer {
  background-color: rgba(0, 0, 0, .9);
  color: rgba(255, 255, 255, .9);
}

.mdl-navigation__link.mdl-tabs__tab {
  height: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: rgba(255, 255, 255, .1);
}

.mdl-tabs.is-upgraded .mdl-navigation__link.mdl-tabs__tab.is-active {
  color: #fff;
}

.mdl-tabs.is-upgraded .mdl-navigation__link.mdl-tabs__tab.is-active:after {
  height: 100%;
  z-index: -1;
}

.mdl-card {
  width: 200px;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, .4);
}

.mdl-card .mdl-card__actions.details {
  padding: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 50%);
}

.mdl-card.template,
.mdl-card.template .mdl-card__actions.details {
  background: #fff;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mdl-card.template div[data-type='range'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mdl-card.template div[data-type='range'] .mdl-textfield__label {
  width: 20%;
  overflow: visible;
}

.mdl-card.template div[data-type='range'] .mdl-textfield__input {
  width: 20%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 2;
  text-align: center;
}

.mdl-card.template div[data-type='range'] .mdl-slider__container {
  width: 100%;
  margin: 0 -10%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mdl-card__actions.details>span {
  width: 100%;
  display: inline-block;
  font-size: 14px;
}

.mdl-card__actions.details>span:first-of-type {
  font-weight: bold;
  font-size: inherit;
}

.mdl-card.adding .mdl-card__actions.details {
  background: #fff;
}

.mdl-card.adding .mdl-textfield {
  padding: 5px 0;
}

.adding .mdl-card__actions>div:not(.bottom),
.template .mdl-card__actions>div:not(.bottom) {
  margin: 0 0 10px;
}

.mdl-card.adding .mdl-textfield__label {
  top: 12px;
  bottom: 5px;
}

.mdl-card.adding .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-card.adding .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-card.adding .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  top: -5px;
}

.mdl-card.adding .mdl-textfield__label:after {
  bottom: 0;
}

.mdl-card.adding .details .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mdl-card.adding .details .bottom .upload {
  background-size: cover;
  background-color: rgba(158, 158, 158, .2);
  background-position: center center;
}

.mdl-card .mdl-card__menu {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.mdl-card:hover .mdl-card__menu {
  opacity: 1;
}

#Company_Logo {
  max-width: 400px;
}

.roster .mdl-cell {
  width: calc(100% / 6);
  padding: 10px;
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.roster.weekends .mdl-cell {
  width: calc(100% / 8);
}

.roster .roster-header .mdl-cell {
  text-align: center;
}

.roster .team-member,
.roster .roster-header .mdl-cell:first-of-type {
  -webkit-box-flex: 1.75;
  -ms-flex: 1.75;
  flex: 1.75;
  padding: 10px 0;
}

.roster .team-member {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  border: 0;
}

.roster-body .mdl-cell {
  outline: 1px solid rgba(0, 0, 0, .1);
}

.roster:not(.ready) .roster-body .mdl-textfield,
.roster.ready .roster-body .mdl-textfield.is-dirty {
  margin: -10px 0;
  width: auto;
}

.roster-body .mdl-button {
  padding: 0 5px;
  min-width: 0;
  opacity: .15;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  font-size: 13px;
}

.roster-body .team-member .avatar {
  position: relative;
  overflow: hidden;
  height: 70px;
  width: 70px;
  max-height: 6vw;
  max-width: 6vw;
  margin: 1em 0 1em 1em;
  border-radius: 100%;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.roster-body .team-member img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  z-index: -1;
}

.roster-body .team-member img.fit-height {
  width: auto;
  height: 100%;
}

.roster-body .team-member .mdl-card__actions.details {
  color: #000;
  background: none;
}

.roster-body .team-member .mdl-card__actions.details .hours {
  font-style: italic;
}

.roster-body .mdl-cell:hover .mdl-button {
  opacity: 1;
}

.roster-body .mdl-cell.master-copy-time {
  background: rgba(160, 195, 255, .25);
  outline: 2px dashed #4285f4;
  z-index: 2;
}

.roster-body .mdl-cell.master-copy-time .mdl-button,
.roster-body .mdl-cell .mdl-button.done-time {
  display: none;
}

.roster-body .mdl-cell.master-copy-time .mdl-button.done-time {
  display: inline-block;
}

.roster.ready .roster-body .mdl-cell:not(.team-member) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.roster.ready .roster-body .copy-time,
.roster.ready .roster-body .paste-time,
.roster.ready .roster-body .done-time,
.roster.ready .roster-body .mdl-textfield--floating-label,
.roster.ready .roster-body .mdl-textfield--floating-label input,
.roster.ready .roster-body .mdl-textfield--floating-label label,
.roster.ready:not(.weekends) .mdl-cell.weekend,
.roster.ready .mdl-textfield--floating-label:not(.is-dirty) {
  display: none;
}

.roster:not(.ready) .mdl-cell .paste-time,
.roster:not(.ready) .mdl-cell .copy-time {
  display: none;
}

.roster:not(.ready) .mdl-cell .mdl-textfield.is-dirty~.paste-time,
.roster:not(.ready) .mdl-cell .mdl-textfield.is-dirty~.copy-time {
  display: initial;
}

.roster.ready .ready-time {
  font-size: 1.5em;
  font-weight: bold;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.roster:not(.ready) .ready-time {
  display: none;
}

.roster.ready .ready-time:empty:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: 'RDO';
  font-size: 2em;
  color: rgba(0, 0, 0, 0.06);
}

.team-member.handle {
  cursor: -webkit-grab;
}

.team-member.handle.sortable-chosen {
  cursor: -webkit-grabbing;
}

.team-member.handle .mdl-card__menu {
  display: none;
}

.team-member.sortable-ghost {
  opacity: .2;
}

.ui-timepicker-wrapper {
  max-height: 40vh;
}